doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(type='text/javascript', src='/javascripts/jquery-2.1.0.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src=assets.url('/javascripts/templates.js'))
    script(type='text/javascript', src='/javascripts/client.js')
