body {
  margin: 0;
  padding: 0 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#chatbox {
  font-size: 28px;
}

.chatline {
  border-bottom: 1px solid #BBB;
  padding: 15px 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  transition: background 0.5s linear;

  background-color: #FFF;
}

.chatline.highlight {
  background-color: #DDECFF;
}

.chatline .user {
  order: 1;
  flex: 0 0 auto;
}

.chatline .user .user-inner {
  height: 30px;
  width: 30px;
  margin-top: 6px;
  background-size: 100%;
}

.chatline .message {
  order: 2;
  flex: 1 1 auto;
  word-wrap: break-word;
  margin-left: 10px;
}
